#  unit 10. 리스트와 튜플 사용하기

In [3]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [4]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [10]:
# 빈 리스트 만드는 방법
x = []
y = list()
x,y

([], [])

In [11]:
# range
range(9)

range(0, 9)

In [13]:
a = list(range(10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
b = list(range(1,10))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
c = list(range(1,10,2))
c

[1, 3, 5, 7, 9]

In [19]:
d = list(range(10,0,-1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# tuple
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [22]:
# 괄호 없이도 튜플 가능
b = 23, 5, 32
b

(23, 5, 32)

In [24]:
person = ('james', 17, 175.3, True)

person

('james', 17, 175.3, True)

In [26]:
person = 3
person

3

In [27]:
# 한 개의 앨리먼트를 갖는 튜플
(38)

38

In [28]:
(38,)

(38,)

In [30]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
c = tuple(range(1,10,2))
c

(1, 3, 5, 7, 9)

In [101]:
d = tuple(range(10,0,-1))
d

(-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [35]:
# List <--> Tuple
tuple_a = tuple([1,2,3])
tuple_a

(1, 2, 3)

In [37]:
list_a = list((1,2,3))
list_a

[1, 2, 3]

In [38]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [39]:
tuple('안녕')

('안', '녕')

In [41]:
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

In [42]:
d,e,f = (4,5,6)
print(d,e,f)

4 5 6

In [44]:
x,y,z = 7,8,9
print(x,y,z)

7 8 9

In [45]:
# 값 바꾸기
x = 10
y = 20
x,y = y,x
print(x,y)

20 10

In [51]:
# 입력과 연계
x = input()

10

In [52]:
print(x,int(10))

10 10

In [57]:
x = input().split()

10 20 30

In [58]:
x

['10', '20', '30']

In [142]:
a,b,c= map(int, ['10', '20', '30'])
a,b,c

(10, 20, 30)

In [70]:
a, b, c = map(int, input('숫자 3개 입력>').split())

숫자 3개 입력>10 20 30

In [71]:
print(a,b,c)

10 20 30

In [75]:
[int(i) for i in input('숫자 3개 입력>').split()]

숫자 3개 입력>10 20 30

[10, 20, 30]

In [150]:
s = int(input())
s

3

In [146]:
x = tuple(range(-10,10,s))
x

(-10, -7, -4, -1, 2, 5, 8)

In [147]:
print(102 * 0.6 + 225)

286.2

In [162]:
a = dict(z=1,x=2)
b = dict(zip(['health','mana'],[1,2]))
c = dict([('a',2),('b',2)])
d = dict({'hi':1,'hello':2})
a,b,c,d

({'z': 1, 'x': 2},
 {'health': 1, 'mana': 2},
 {'a': 2, 'b': 2},
 {'hi': 1, 'hello': 2})

In [7]:
for i in range(3):
   print('Hello, world!')

Hello, world! 0
Hello, world! 1
Hello, world! 2