# Unit 11. 시퀀스 자료형 활용하기

### 1) 공통기능

In [8]:
30 in [1,2,3]

False

In [9]:
30 in (10,20,30)

True

In [7]:
100 in a

False

In [13]:
30 in range(30)

True

In [14]:
'a' in 'apple'

True

In [15]:
30 not in [1,2,3]

True

In [18]:
# 객체 연결하기
'hello' + ' '+ 'python'

'hello python'

In [19]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [20]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [21]:
## 레인지는 불가능 튜플이나 리스트로 바꿔서 가능
range(10) + (range(10, 20))

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [22]:
list(range(10)) + list(range(20))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [23]:
# 반복하기
'hello' * 3

'hellohellohello'

In [28]:
list((1,2,3)) * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
tuple((1,2,3)) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [29]:
list(range(5))*3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [34]:
'hello ' + str(10)

'hello 10'

### 갯수 구하기

In [35]:
len('hello')

5

In [38]:
len([1,2,3])

3

In [39]:
len((4,5,6))

3

In [42]:
len(range(5))

5

In [43]:
len(range(1,100,2))

50

In [44]:
len('안녕하세요')

5

In [45]:
len('안녕하세요'.encode('utf-8'))

15

## 인덱싱

In [47]:
list_a = [11,22,33,44,55]
list_a[0]

11

In [48]:
tuple_a = (11,22,33,44,55)
tuple_a[4]

55

In [51]:
hello = 'Hello, world!'
hello[7]

'w'

In [52]:
hello[-1]

'!'

In [53]:
hello[len(hello)-1]

'!'

In [54]:
tuple_a[-2]

44

In [56]:
list_a[-3]

33

In [57]:
tuple_a[5]

IndexError: tuple index out of range

In [59]:
# 시퀀스 자료형중에서 튜플, range, 문자열은 읽기전용
list_a[-1]=66
list_a

[11, 22, 33, 44, 66]

In [60]:
tuple_a[-1] = 66

TypeError: 'tuple' object does not support item assignment

In [66]:
hello[-1] = '^'

'!'

In [67]:
# del
del list_a[-1]
list_a

[11, 22, 33, 44]

TypeError: 'tuple' object doesn't support item deletion

## slice

In [70]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [85]:
a[0:-1:1]

[0, 10, 20, 30, 40, 50, 60, 70, 80]

In [72]:
a[::2]

[0, 20, 40, 60, 80]

In [73]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [79]:
a[0:-1:]

[0, 10, 20, 30, 40, 50, 60, 70, 80]

In [80]:
a[4:7]

[40, 50, 60]

In [81]:
a[6:3:-1]

[60, 50, 40]

In [86]:
a[1:len(a):2]

[10, 30, 50, 70, 90]

In [89]:
a[1::2]

[10, 30, 50, 70, 90]

In [90]:
hello[2:9]

'llo, wo'

In [100]:
# 슬라이스 요소에 값 할당하기
a

[0, 10, 20, '30', '40', '50', 60, 79]

In [99]:
a[3:6] = ['30','40','50']
a

[0, 10, 20, '30', '40', '50', 60, 79]

In [98]:
a[7:9] = (79,)
a

[0, 10, 20, '30', '40', '50', 60, 79]

In [101]:
a[1:2] = [1,2,3]
a

[0, 1, 2, 3, 20, '30', '40', '50', 60, 79]

In [102]:
a = [0,10,20,30,40,50,60,70,80,90]
a[2:8:2] = ['a','b','c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [103]:
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

In [104]:
m = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
m

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [108]:
m[1][2]

[5, 6, 7, 8]

In [112]:
m[:][1]

[5, 6, 7, 8]

In [113]:
m[1][:]

[5, 6, 7, 8]

In [119]:
x = input().split()
x[0:5]

1 2 3 4 5 6 7 8 9 10

['1', '2', '3', '4', '5']

In [121]:
x = input().split()
tuple(x[0:7])

oven bat pony total leak wreck curl crop space navy loss knee

('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

In [127]:
a = [0,1,2]
a[0:len(a):1]

[0, 1, 2]

In [128]:
a[::]

[0, 1, 2]