# Unit22. 리스트와 튜플 응용하기

### 리스트 조작

In [1]:
a = [10, 20 , 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a.append([3,4])
a

[10, 20, 30, 500, [3, 4]]

In [3]:
# 3*6 리스트 만들기
## 빈리스트 두개를 만들고, 한개의 리스트에 완성해서
## 다른리스트에 채워 넣는다 (2차원 리스트만들기)
import random as rd
mat=[]
for i in range(3):
    row = []
    for k in range(6):
        row.append(rd.randint(1,6))
    mat.append(row)

In [4]:
print(row)
print('output')
print(mat)

[3, 5, 3, 4, 2, 4]
output
[[6, 6, 4, 5, 2, 4], [2, 2, 1, 5, 3, 5], [3, 5, 3, 4, 2, 4]]

In [5]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [6]:
print_matrix(mat)

6 6 4 5 2 4
2 2 1 5 3 5
3 5 3 4 2 4

In [7]:
def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k], end=' ')
        print()

In [8]:
old_print_matrix(mat)

6 6 4 5 2 4
2 2 1 5 3 5
3 5 3 4 2 4

In [9]:
#리스트 삭제하기
a.pop()

[3, 4]

In [10]:
print(a)
a.index(30)

[10, 20, 30, 500]

2

In [11]:
a.append(20)
a

[10, 20, 30, 500, 20]

In [12]:
a.count(20)

2

In [13]:
# a리스트를 거꾸로 뒤집는다.(변화함) 
a.reverse()
a

[20, 500, 30, 20, 10]

In [14]:
a.sort()
a

[10, 20, 20, 30, 500]

In [15]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [16]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [17]:
# 정렬된 새 리스트 생성(원래 리스트는 그대로)
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [18]:
b

[10, 20, 30, 15, 20, 40]

In [19]:
a = [10, 20, 30] 
a[3:] = [30]

In [20]:
a

[10, 20, 30, 30]

In [21]:
a[len(a):] = [500]

In [22]:
a

[10, 20, 30, 30, 500]

In [23]:
a[:]

[10, 20, 30, 30, 500]

### 리스트 할당과 복사

In [24]:
# a=b 포인팅 때문에 같은 객체가 되어버림
# 값말고도 이후의 입력도 같아짐
a = [0, 0, 0, 0, 0]
b = a

In [25]:
b

[0, 0, 0, 0, 0]

In [26]:
b[2] = 2
b

[0, 0, 2, 0, 0]

In [27]:
a

[0, 0, 2, 0, 0]

In [28]:
a is b

True

In [64]:
# .copy() 를 사용하면 같은 객체 x
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2]
a

[0, 0, 0, 0, 0]

In [30]:
a is b

False

### 반복문으로 출력하기

In [31]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

### 유용한 함수

In [32]:
# 가장 작은/큰 수는?
a = [10, 20, 30, 40, 5]
small=a[0]
large=a[0]
for i in range(1, len(a)):
    if a[i] < small:
        smaill = a[i]
    if a[i] > large:
        large = a[i]
print(small,large)
print(a)

10 40
[10, 20, 30, 40, 5]

In [33]:
# sort 를 이용한 가장 큰/작은 수
a.sort()
print(a[0],a[-1])

5 40

### 리스트 표현식

In [34]:
# 1에서 10까지 제곱수를 리스트로 만드시오
sq = []
for i in range(1,11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
sq_new = [i*i for i in range(1,11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
#홀수
sq_odd = [i*i for i in range(1,11,2)]
sq_odd

[1, 9, 25, 49, 81]

In [37]:
sq_od = [i*i for i in range(1,11) if i%2==1]
sq_od

[1, 9, 25, 49, 81]

In [38]:
a = [i * k for i in range(2,10)
                for k in range(1,10)] 
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [39]:
print(min(a))

2

### map함수

In [40]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [42]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [46]:
x = list(map(int, input('여러개의 정수>').split()))
x

여러개의 정수>1 12  12 1 12 12

[1, 12, 12, 1, 12, 12]

In [52]:
hour, minute, second = map(int,input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:42:50
hour=11, minute=42, second=50

In [53]:
year, month, day = map(int, input('yy-mm-dd>').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd>20-10-30
year=20, month=10, day=30

In [59]:
 a = (38, 21, 53, 62, 19, 53)
print(min(a),max(a),sum(a))

19 62 246

In [61]:
for i in a:
    print(i)

38
21
53
62
19
53