# Unit 26. 세트 사용하기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [2]:
type(fruits)

set

In [9]:
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [10]:
'orange' in fruits

True

In [11]:
'peach' in fruits

False

In [14]:
a = set('apple')
a

TypeError: set expected at most 1 argument, got 2

In [15]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [16]:
c = set()
c

set()

In [18]:
f = set('안녕하세요')
f

{'녕', '세', '안', '요', '하'}

### 집합연산

In [23]:
#합집합 구하기 1
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [24]:
#합집합 구하기 2
set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [25]:
# 교집합
a & b

{3, 4}

In [26]:
# 교집합2
set.intersection(a, b)

{3, 4}

In [27]:
# 차집합
a - b

{1, 2}

In [28]:
# 차집합 2
set.difference(a, b)

{1, 2}

In [29]:
# 대칭차집합(집합끼리의 합에서 교집합을 뺀 것)
a ^ b

{1, 2, 5, 6}

In [30]:
# 대칭차집합2
set.symmetric_difference(a, b)

{1, 2, 5, 6}

In [34]:
# =| 업데이트 개념
a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [35]:
# .update도 가능
a = {1, 2, 3, 4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [38]:
# 교집합만 저장 
a = {1, 2, 3, 4}
a &= {1, 2}
a

{1, 2}

In [37]:
# 교집합만 저장 2
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [39]:
# 차집합 저장1
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [40]:
# 차집합 저장2
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [41]:
# 대칭차집합만 저장1
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [43]:
# 대칭차집합만 저장2
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

In [44]:
# 상위집합 확인하기
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [45]:
a.issubset({1, 2, 3, 4, 5})

True

In [46]:
a < {1, 2, 3, 4, 5}

True

In [47]:
a.issuperset({1, 2, 3, 4})

True

In [48]:
# 요소추가
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [49]:
# 요소 제거
a.remove(3)
a

{1, 2, 4, 5}

In [50]:
# .discard 있으면 제거 없으면 생략
a.discard(2)
a

{1, 4, 5}

In [51]:
a.discard(3)
a

{1, 4, 5}

In [53]:
# 세트 삭제
a.clear()
a

set()

In [54]:
a = {1, 2, 3, 4}
b = a

In [55]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [58]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a,b

({1, 2, 3, 4}, {1, 2, 3, 4, 5})

In [59]:
a = {1, 2, 3, 4}
for i in a : 
    print(i)

1
2
3
4