# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

### 위치 인수와 리스트 언패킹 사용하기

In [8]:
def print_number(a, b, c):
    print(a)
    print(b)
    print(c)

In [3]:
print_number(10,20,30)

10
20
30

In [4]:
x = [10, 20, 30]
print_number(*x)

10
20
30

In [10]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [11]:
print_numbers(10,20,30)

10
20
30

In [12]:
print_numbers(10,20,30,40,50)

10
20
30
40
50

In [18]:
def print_numbers(a, *args):
    #단, 이때 def print_numbers(*args, a):처럼 *args가 고정 매개변수보다 앞쪽에 오면 안 됩니다. 매개변수 순서에서 *args는 반드시 가장 뒤쪽에 와야 합니다.
    print(a)
    for arg in args:
        print(arg)

In [19]:
print_numbers(10, 20, 30, 40, 50)

10
20
30
40
50

In [20]:
def personal_info(name, age, address) :
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [21]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [22]:
personal_info(name = '홍길동', age = 30, address = '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [24]:
#순서를 바꿔도 함수에서 정한 순서대로 출력된다.
서를 바꿔도 함수에서 정한 순서대로 출력된다.
personal_info(age=30, address='서울시 강서구 발산동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### 키워드 인수와 딕셔너리 언패킹

In [27]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [29]:
#딕셔너리 언패킹 딕셔너리의 키와 함수의 매개변수가 같아야 함
hong = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강서구 발산동'}
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [30]:
# 딕셔너리를 변수로 사용할때, *을 하나만 사용하면 키값만 나온다.
personal_info(*hong)

이름:  name
나이:  age
주소:  address

#### 가변 키워드 인수를 갖는 함수 만들기

In [31]:
def personal_info(**kwargs) :   #keyword arguments
    for keyword, arg in kwargs.items():
        print(keyword, ':', arg, sep='')

In [32]:
personal_info(**{'name' : '홍길동', 'age' : 30, 'address' : '서울시 강서구 발산동'})

name:홍길동
age:30
address:서울시 강서구 발산동

In [33]:
personal_info(**{'name' : '홍길동', 'old' : 30, 'address' : '서울시 강서구 발산동'})

name:홍길동
old:30
address:서울시 강서구 발산동

In [34]:
personal_info(**{'name' : '홍길동', 'old' : 30})

name:홍길동
old:30

In [35]:
def personal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

In [39]:
personal_info(**{'name' : '홍길동', 'age' : 30})

이름:  홍길동
나이:  30

#### 고정인수와 가변인수(키워드 인수)를 함께 사용하기

In [40]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [41]:
personal_info('홍길동', age=30, address = '서울시 강서구 발산동')

홍길동
{'age': 30, 'address': '서울시 강서구 발산동'}

In [43]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [44]:
custom_print(1, 2, 3, sep=':', end='END\n')

1:2:3END

In [45]:
custom_print(1,2,3,4)

1 2 3 4

#### 고정인수, 가변 위치인수, 키워드 인수 함께 사용하기

In [46]:
def custom_print(a, b, *args, **kwargs):
    print(a, b, *args, **kwargs)

In [51]:
custom_print(1,2, sep=':')

1:2

### 매개변수에 초깃값 지정하기

In [59]:
def personal_info(name, age, address='비공개'):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)

In [60]:
personal_info('홍길동', 30)

이름 :  홍길동
나이 :  30
주소 :  비공개

In [58]:
personal_info('홍길동', 30 , '서울시 강서구 발산동')

이름 :  홍길동
나이 :  30
주소 :  서울시 강서구 발산동

In [57]:
# 초기값이 지정된 것은 맨 뒤로 보내야함
def personal_info(name, address='비공개',age):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)

SyntaxError: non-default argument follows default argument (<ipython-input-57-dcbf9d49df52>, line 1)

In [5]:
korean, english, mathematics, science = map(int, input().split())

76 82 89 84

In [16]:
def get_min_max_score(*args):
    return min(args), max(args)
def get_average(*kwargs):
    return sum(kwargs)/len(kwargs)

In [17]:
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean, english,
                            mathematics, science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english, science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [14]:
def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):
    return sum(kwargs.values())/len(kwargs)

In [13]:
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00