In [3]:
# 13 연습문제
price = int(input())
coupon = input()
if coupon == 'Cash3000':
    price -= 3000
if coupon == 'Cash5000':
    price -= 5000
print(price)

50000
Cash5000
45000

In [27]:
# 14 연습문제
korean, english, math, science=map(int,input().split())
x=(korean+english+math+science)/4
 
if korean<0 or korean>100 or english<0 or english>100 or math<0 or math>100 or science<0 or science>100:
    print('잘못된 점수')
 
else:
    if x>=80:
        print('합격')
    else:
        print('불합격')

80 80 80 80
합격

In [28]:
# 15 연습문제
age = int(input())
balance = 9000 
if age <= 12 :
    balance -= 650
elif age <= 18 :
    balance -= 1050
else :
    balance -= 1250
    
print(balance)

15
7950

In [1]:
# 16 연습문제 (틀렸다 함 값은 잘나옴)
x = int(input())

for i in range(x):
    for k in range((x-1)-i):
        print("  ", end = '')
    for k in range((i*2)+1) :
        print("*", end = ' ')
    print()

23
                                            *
                                          * * *
                                        * * * * *
                                      * * * * * * *
                                    * * * * * * * * *
                                  * * * * * * * * * * *
                                * * * * * * * * * * * * *
                              * * * * * * * * * * * * * * *
                            * * * * * * * * * * * * * * * * *
                          * * * * * * * * * * * * * * * * * * *
                        * * * * * * * * * * * * * * * * * * * * *
                      * * * * * * * * * * * * * * * * * * * * * * *
                    * * * * * * * * * * * * * * * * * * * * * * * * *
                  * * * * * * * * * * * * * * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [13]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

alpha bravo charlie delta
10 20 30 40

In [14]:
x.pop('delta')
x={key:value for key,value in x.items() if value!=30}
    
print(x)

{'alpha': 10, 'bravo': 20}

In [19]:
a = {i for i in range(1, 101) if i % 3 == 0}
a

{3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}